body {
  background-color: #A9A9A9;
}

.body {
  max-width: 1400px;     /* Giới hạn chiều rộng khung */
  width: 100%;           /* Co giãn theo kích thước viewport */
  margin: 0 auto;        /* Canh giữa ngang */
  box-sizing: border-box;
  height: auto;
  background-color: white;
}


.product-management-create,
.product-management-create * {
  box-sizing: border-box;
}
.product-management-create {
  background: var(--bg, #ffffff);
  padding: 10px;
  height: 1523px;
  position: relative;
}
.frame-936 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 159px;
  position: absolute;
  left: 67px;
  top: 48px;
}
.dash-board {
  color: var(--var-sds-color-text-utilities-text-on-overlay, #0c0c0d);
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 27px;
  font-size: 18px;
}
.order {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 27px;
  font-size: 18px;
}
.product {
  color: #db4444;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 27px;
  font-size: 18px;
}

.review {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 27px;
  font-size: 18px;
}
.coupon {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 27px;
  font-size: 18px;
}
.line-4 {
  margin-top: -2px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px 0 0 0;
  width: 100px;
  height: 0px;
  position: relative;
  left: 218px;
  top: 48px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}


.title {
  color: var(--secondary-2, #db4444);
  text-align: left;
  font-family: var(
    --title-20px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20px-medium-font-size, 20px);
  line-height: var(--title-20px-medium-line-height, 28px);
  font-weight: var(--title-20px-medium-font-weight, 500);
  position: absolute;
  left: 286px;
  top: 241px;
}
.group-1000005956 {
  position: absolute;
  inset: 0;
}
.product-name{
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 291px;
  top: 320px;
}
.placebox-info0 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 423px;
  top: 307px;
}
.place-to-info-box {
  background: var(--secondary, #f5f5f5);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
  padding-left: 10px;
}

.place-to-info-box::placeholder {
  color: var(--text2, #000000);
  opacity: 0.5;

  font-family: var(--title-16px-regular-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--title-16px-regular-font-size, 16px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  line-height: var(--title-16px-regular-line-height, 24px);
  text-align: left;
  padding-left: 10px;
}

.group-1000005962 {
  position: absolute;
  inset: 0;
}
.product-price {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 323px;
  top: 390px;
}
.placebox-info2 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 422px;
  top: 377px;
}
.group-1000005963 {
  position: absolute;
  inset: 0;
}
.product-category {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 319px;
  top: 460px;
}
.placebox-info3 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 422px;
  top: 447px;
}

.product-brand   {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 303px;
  top: 530px;
}
.placebox-info4 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 422px;
  top: 517px;
}

.product-description  {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 303px;
  top: 600px;
}
.placebox-info5 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 422px;
  top: 587px;
}

.group-1000005974 {
  position: absolute;
  inset: 0;
}
.specs {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 330px;
  top: 678px;
  font-size: 25px;
}
.group-1000005975 {
  position: absolute;
  inset: 0;
}
.infor1 {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 330px;
  top: 735px;
}
.placebox-info {
  width: 249px;
  height: 50px;
  position: absolute;
  left: 503px;
  top: 722px;
}

.highlight-block {
  position: absolute;
  left: 896px;
  top: 827px;
  width: 400px;
}

.highlights {
  color: var(--text2, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 10px;

}

.highlight-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 80px;
}

.placebox-info16 {
  position: relative;
  width: 330px;
  height: 50px;
}

.place-to-info-box {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

#add-highlight-btn {
  margin-top: 10px;
  margin-left: 245px;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #e0e0e0;
  cursor: pointer;
  position: relative; 
}

#add-highlight-btn:hover{
  background-color: #db4444;
  cursor: pointer;
}

.group-1000005968 {
  position: absolute;
  inset: 0;
}
.image-link1 {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 896px;
  top: 320px;
}
.placebox-info181 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 980px;
  top: 307px;
}

.image-link2 {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 896px;
  top: 390px;
}
.placebox-info182 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 980px;
  top: 377px;
}

.image-link3 {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 896px;
  top: 460px;
}
.placebox-info183 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 980px;
  top: 447px;
}

.image-link4 {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 896px;
  top: 530px;
}
.placebox-info184 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 980px;
  top: 517px;
}

.group-1000005969 {
  position: absolute;
  inset: 0;
}
.stock {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 898px;
  top: 600px;
}
.placebox-info19 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 980px;
  top: 587px;
}
.group-1000005973 {
  position: absolute;
  inset: 0;
}
.discount {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 888px;
  top: 670px;
}
.placebox-info20 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 980px;
  top: 657px;
}


.date {
  color: var(--text2, #000000);
  text-align: right;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  left: 888px;
  top: 740px;
}
.placebox-info21 {
  width: 330px;
  height: 50px;
  position: absolute;
  left: 980px;
  top: 727px;
}


.frame-937 {
  background: #ededed;
  width: 1100px;
  height: 112px;
  position: absolute;
  left: 260px;
  top: 46px;
  border-radius: 20px;
}

.products-view-create-update-delete-manage {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 123px;
  top: 43px;
  width: 373px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.products-view-create-update-delete-manage-span {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 32px;
  line-height: 21px;
  font-weight: 400;
}
.products-view-create-update-delete-manage-span2 {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.shopping-cart {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 38px;
  top: 35px;
  overflow: visible;
}

.shopping-cart i{
  font-size: 60px;
}
.button {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-neutral-secondary, #767676);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 49px;
  position: absolute;
  left: 1000px;
  top: 230px;
  overflow: hidden;
  cursor: pointer;
}
.button2 {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  cursor: pointer;
}
.button3 {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-neutral-secondary, #767676);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 49px;
  position: absolute;
  left: 1150px;
  top: 230px;
  overflow: hidden;
  cursor: pointer;
}


/* HEADER */
.full-header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fcfcfc;
    z-index: 999;
    border-bottom: 1px solid black;
}

.holdheader , .holdfooter{
    position: relative;
    max-width: 1400px;     /* Giới hạn chiều rộng khung */
    width: 100%;           /* Co giãn theo kích thước viewport */
    margin: 0 auto;        /* Canh giữa ngang */
    padding: 10px;
    box-sizing: border-box;
}


.top_header{
    border-bottom: 30px solid black;
}


.list_in_header{
    display: flex;
    flex-direction: row;
    gap: 160px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.header {
  position: relative; /* hoặc bỏ luôn */
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    flex-shrink: 0;
    width: 118px;
    height: 24px;
    position: relative;
    cursor: pointer;
}
.exclusive {
    color: var(--text2, #000000);
    text-align: left;
    font-family: var(--heading-24px-bold-font-family, "Inter-Bold", sans-serif);
    font-size: 30px;
    line-height: var(--heading-24px-bold-line-height, 24px);
    letter-spacing: var(--heading-24px-bold-letter-spacing, 0.03em);
    font-weight: 800;
    position: absolute;
    right: 19.49%;
    left: 0%;
    width: 80.51%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}

.exclusive a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.exclusive a:visited{
    color: black;
}

.home a:visited, .about a:visited, .signup a:visited{
    color: black;
}

.home a:hover, .about a:hover, .signup a:hover{
    color: red;
}

.frame_search_cart_account{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 1200px;
}

.account{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.account i{
  font-size: 30px;
}

.account:hover .sub-menu-wrap {
    max-height: 400px; /* đủ lớn để chứa nội dung */

}

.sub-menu-wrap{
    position: absolute;
    top: 70%;
    right: -10%;
    width: 320px;
    overflow: hidden;
    z-index: 99999;
    transition: max-height 0.5s;
    max-height: 0;
}

.sub-menu{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    background: rgba(199, 197, 197, 0.6); /* trắng trong suốt */
    backdrop-filter: blur(10px);          /* làm mờ nền phía sau */
    -webkit-backdrop-filter: blur(10px);
}

.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-info h2{
    font-weight: 400;
}
.user-info i{

    font-size: 30px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #000000;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
    transition: transform 0.5s;
}

.sub-menu-link i{
    width: 40px;
    font-size: 33px;
}

.sub-menu-link span{
    font-size: 15px;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
    color: red;
}
