


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full-header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fcfcfc;
    z-index: 999;
    border-bottom: 1px solid black;
}

.holdheader , .holdfooter{
    position: relative;
    max-width: 1400px;     /* Giới hạn chiều rộng khung */
    width: 100%;           /* Co giãn theo kích thước viewport */
    margin: 0 auto;        /* Canh giữa ngang */
    padding: 10px;
    box-sizing: border-box;
}


.top_header{
    border-bottom: 30px solid black;
}


.list_in_header{
    display: flex;
    flex-direction: row;
    gap: 160px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.header {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    flex-shrink: 0;
    width: 118px;
    height: 24px;
    position: relative;
    cursor: pointer;
}
.exclusive {
    color: var(--text2, #000000);
    text-align: left;
    font-family: var(--heading-24px-bold-font-family, "Inter-Bold", sans-serif);
    font-size: 30px;
    line-height: var(--heading-24px-bold-line-height, 24px);
    letter-spacing: var(--heading-24px-bold-letter-spacing, 0.03em);
    font-weight: 800;
    position: absolute;
    right: 19.49%;
    left: 0%;
    width: 80.51%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}

.exclusive a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.exclusive a:visited{
    color: black;
}


.nav_list{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    shape-margin: 20px;
    margin-left: 100px;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
}


.home a , .about a, .signup a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: black;
    cursor: pointer;
}

.home a:visited, .about a:visited, .signup a:visited{
    color: black;
}

.home a:hover, .about a:hover, .signup a:hover{
    color: red;
}

main {
    flex: 1;
}

footer{
    background: black;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding-left: 0; /* bỏ thụt đầu dòng mặc định */
}

.footer_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 60px;
    gap: 4rem;
}

.footer_row, .footer_col h4 {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-weight: bold;
}

.footer-col a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.footer-col a:hover{
    color: red;
}

/* Tiếp tục code nội dung của CSS tại đây */

/* Đặt cho body hoặc 1 div bọc ngoài nội dung */

.body {
    max-width: 1400px;     /* Giới hạn chiều rộng khung */
    width: 100%;           /* Co giãn theo kích thước viewport */
    margin: 0 auto;        /* Canh giữa ngang */
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 350px;
    border: none;
    border-radius: 10px;
    background: rgb(234, 236, 237);
    margin: 90px auto;
    padding: 40px;
    box-shadow: 0 0 10px black;
}

.container h1 {
    text-align: center;
}

.container h3 {
    text-align: center;
}

.form-control {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.form-control input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 2px solid #adadad;
    background: transparent;
}

.form-control span {
    position: absolute;
    border-bottom: 3px solid #261c22;
    top: 39px;
    left: 0;
    width: 0%;
    transition: 0.3s;
}

.form-control input:focus ~ span {
    width: 100%;
}

.form-control.error small {
    color: red;
}

.form-control.error input {
    border-bottom: 2px solid red;
}

.btn-submit {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: rgba(219, 68, 68, 1);
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0;
    cursor: pointer;
}

.btn-submit:hover {
    background: rgb(192, 42, 42);
}
